
.white {
  width: 400px;
  /* animation : 이름 초 횟수 몇초뒤에(delay) transition*/
  animation: fade-in 2s forwards;
}


p {
  animation: fade-in 2s;
}



/* 애니메이션의 선언 */
@keyframes white-move {
  /* 1번 방법 */
  form { transform: translate(0,0);}
  to {transform: translate(60px, 0);}
}
  
  /* 2번 방법 */
  @keyframes fade-in {
    0% { transform: translate(0, 40px);
    opacity: 0;
  }
    /* 50% {} */
    100% { transform: translate(0, 0);
    opacity: 1;
    }
  }